<p><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif; color: #ff0000;"><strong>Giới Thiệu Về Công Ty</strong> </span><br>
<ul>
<li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CÔNG TY TNHH IN-SX BAO BÌ THÀNH TIẾN là một trong nhưng doanh nghiệp có uy tín trong
ngành in ở TP HCM hiện nay. Được thành lập từ 21/08/2002 Công ty chúng tôi xuất phát từ một
cơ sở chuyên gia công thành phẩm đã mở rộng đầu tư vào lĩnh vực in ấn và khép kín quá trình
sản xuất . Trong thời gian hoạt động, Công ty chúng tôi liên tục tăng trưởng, nguồn tài chính ổn
định đảm bảo cho đầu tư và phát triển. Đến nay công ty đã có kinh nghiệm 15 năm hoạt động
trong lĩnh vực in ấn và tích lũy được nhiều kinh nghiệm.</span></li>
<li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">Hiện tại , chúng tôi nỗ lực nhận gia công sau in để phục vụ đa dạng hơn nữa nhu cầu của khách hàng.</span></li>
</ul>	
	</p>																	
<p><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif; color: #ff0000;"><strong>Mục Tiêu Chiến Lược</strong> </span><br></p>
<ul>
<li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">Trở thành một trong những công ty in có chất lượng và uy tín</span></li>
<li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><strong>Uy tín – Chất lượng – Giá cả</strong> cạnh tranh là phương châm hoạt động của CTY TNHH IN-SX
BAO BÌ THÀNH TIẾN .</span></li>
</ul>	</p>
<p><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif; color: #ff0000;"><strong>Một Số Thành Tựu</strong> </span><br>
<p>Là đơn vị chịu trách nhiệm thiết kế và in ấn chính cho:</p>
<ul>
<li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CTY TNHH Vĩnh Tiến chuyên sản xuất trà, rượu vang, thực phẩm chức năng... có thị trường
trong nước và xuất khẩu sang Pháp, Hà lan, Mỹ...</span></li>
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CTY TNHH SX TM HÒA THÁI chuyên sản xuất bóng đèn có thị trường trong nước và xuất
            sang Hà lan, Đức, Hàn Quốc, Indonesia, Thái lan, …</span></li>
    
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CTY TNHH LIÊN HOA chuyên sản xuất phụ tùng xe xuất Indonesia, Malaysia</span></li>
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CTY TNHH Japan New Furniture chuyên sản xuất đồ gỗ xuất Nhật</span></li>
    
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CTY TNHH ÂN PHONG chuyên sản xuất giày xuất châu Âu</span></li>
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CTY TNHH SX TM Phú Đạt chuyên sản xuất lưới công nghiệp xuất Nhật</span></li>
    
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CTY TNHH SX TM MỸ PHẨM NGỌC ANH chuyên sản xuất mỹ phẩm</span></li>
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">CTY CP THIẾT BỊ BÁCH KHOA chuyên kinh doanh thiết bị máy tính</span></li>
   
</ul>	
</p>